.*/
src/
debug
*.ps1
docker-compose.yml
tsconfig.json
_template.html
_template.js
upcoming-changelog.md
docs/
.eslintrc.js
dashboard/
resources/
node-red-contrib-zigbee2mqtt-devices*.tgz
CONTRIBUTING.md